{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
    <form method="POST" action="{% url 'event_tickets_Payment' event_id=event.id %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3">
                <img class="connect-image-home" src="{{event.picture.url}}" alt="img" width="350px">
            </div>
            <div class="col-sm-9" style="background-color:pink;">
                {% if event.event_amount == 0%}
                <style>
                    h2 {
                        color: gray;
                    }
                </style>
                {%else%}
                <style>
                    h2 {
                        color: pink;
                    }
                </style>
                {% endif %}

                <br>
                <h2><b>Sold out</b></h2>
                <h1><b><p>Name : {{ event.event_name }}</p></b></h1>
                <p>Dtae : {{ event.event_date }}</p>
                <p>Time : {{ event.event_time }}</p>
                <p>Place : {{ event.location }}</p>
                <p>Price : {{ event.ticket_price}}</p>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h4><b>About tickets</b></h4><br>
                    <p> {{ event.description }}</p>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h4><b>Tickets</b></h4><br></label>{% for itemn in category %}
                    {% if item.event_id == event.id %} {{ itemn.name}}{% endif %}{% endfor %}
                </div>
                <div class="col-sm-3">

                    <label for="section">mount Ticket:
                   
                    
         
                    <input type="number" class="form-control" name="usticket_amount" id="usticket_amount" value="{{usticket_amount}}" required>


                    <button type="submit" class="btn btn-primary ml-3" id="{{event.id}}">Payment</button>
                </div>
            </div>
    </form>
    </div>
</div>



{% endblock %}